<h1>Bootstrap install</h1>
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<br><br>
<h1>Angular Material install</h1>
<mat-slider min="1" max="100" step="1" value="50"></mat-slider>
<br><br>
<h1>Sweet Alert install</h1>
<button [swal]="['Oops!', 'This is not implemented yet :/', 'warning']">
  Do it!
</button>
<button [swal]="['Oops!', 'This is not implemented yet :/', 'warning']" type="button" class="btn btn-success">Success</button>
<br><br><br>
<h1>CKEditor5 install</h1>
<ckeditor [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor>
